*,*::before,*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
h1,h2,h3,h4,h5,h6{
    margin: 0 auto;
}
p{
    margin: 0 0 5px;
}
.btn{
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    min-width: 200px;
    padding: 0 15px;
    transition: background-color 0.2s ease;
    cursor: pointer;
    outline: 0;
    border: 0;
}
.btn:hover{
    background-color: rgb(202, 18, 18);
}
.container{
    width: 1200px;
    margin:0 auto;
}
.header{
    z-index: 3;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.header__wrapper{
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.header__block{
    width: 20%;
}
.header__logo{
display: inline-block;
}
.header__logo img{
    height: 65px;
}
.nav__link{
    margin-right: 35px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    position: relative;
}
.nav__link:hover::after{
    opacity: 1;
}
.nav__link::after{
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
    opacity: 0;
    transition: opacity .2s ease;
}
.nav__link.active::after{
    opacity: 1;
}
.nav__link:last-child{
    margin-right: 0px;
}
.header__lnk{
    display: flex;
justify-content: flex-end;
}
.header_lnk{
    margin-right: 8px;
    color:#B7B7B7;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.2s ease;
}
.header_lnk:hover{
    color: white;
}
.header_lnk.active{
color:#FFFFFF;
}
.intro{
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.intro::after{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .2;
    content: '';
}
.intro__content{
    position: relative;
    z-index: 2;
    height: 750px;
    display: flex;
    align-items: center;
}
.intro__title{
    text-transform: uppercase;
    margin-bottom: 30px;
    max-width: 790px;
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 1.5;
}
.section{
    margin-bottom: 100px;
}
.section.process{
    padding-top: 50px;
}
.info{
transform: translateY(-50%);
}
.info__item{
background-color: #FFFFFF;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
padding: 40px 40px 30px;
}
.info__img{
margin-bottom: 30px;
}
.info__img img{
height: 30px;
}
.info__title{
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 18px;
    letter-spacing: 0.15em;
}
.info__text{
font-size: 18px;
}
.block__title{
    font-size: 30px;
    margin-bottom: 15px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}
.block__link{
    margin-bottom: 60px;
    display: inline-block;
    letter-spacing: 0.15em;
    color: #000;
    text-transform: uppercase;
}
.block__link:hover{
    text-decoration: none;
}
.wrapper{
    display:flex;
    margin: 0 -10px;

}
.block{
    width: 33.33%;
    padding: 0 10px;
}

.text-apper{
text-transform: uppercase;
}
.services__item{
    text-decoration: none;
}
.services__item:hover .services__content-item{
    opacity: 1;
}
.services__item:hover .services__content::after{
    opacity: 0.7;
}

.services__content{
    background-repeat: no-repeat;
     background-size:cover;
    position: relative;
    height: 500px;
    margin-bottom: 20px
    
}
.services__content::after{
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    transition: opacity 0.2s ease;
}
.services__content-item{
    z-index: 2;
    transition: opacity 0.2s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.services__img{
    width: 100px;
    height: 100px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #DB2512 ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.services__title{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #000;
}
.services__text{
    max-width: 270px;
    font-weight: 600;
    color: white;
    letter-spacing: 0.23em;
    position: absolute;
    bottom: 20px;
    left: 30px;
    font-size: 18px;
    text-transform: uppercase;
}
.block__title.text-white{
    color: white;
}
.about{
    padding: 115px 0;
    background-color: #171616;
}
.about__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about__block{
    max-width: 505px;
}
.about__text{
    margin: 35px 0 40px;
    font-weight: 600;
    color:#B7B7B7;
    letter-spacing: 0.23em;
}
.about__link{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}
.about__link:hover{
    text-decoration: none;
}
.about__img{
    height: 340px;
}
.process__title{
    margin-bottom: 40px;
    font-size: 148px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
}
.process__subtitle{
    margin-bottom: 90px;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    text-align: center;
}
.process__item{
    min-height: 150px;
    height: 100%;
    padding: 30px 30px 15px;
    background: #FFFFFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.contacts{
    padding: 100px 0 ;
    background-color: #171616;
}
.contacts .block__title{
    margin-bottom: 45px;
}
.contacts__form{
    
 max-width: 440px;
}

.form__row{
    margin: 0 -20px;
    display: flex;
}

.form__group{
    margin-bottom: 30px;
    padding: 0 10px;
    flex:1;
    position: relative;
}

.input{
    width: 100%;
    padding: 9px 0 ;
    outline: 0 ;
    border: 0 ;
    color: #fff;
    font-size: 15px;
    font-family: inherit;
    border-bottom: 1px solid #fff;
    background-color: transparent;
}

.input:focus + .label{
    transform: translateY(-10px);
    font-size: 12px;
}
.input:not(:placeholder-shown) + .label{
    transform: translateY(-10px);
    font-size: 12px;
}
.label{
    letter-spacing: 0.15em;
    color: #fff;
    position:absolute;
    left: 10px;
    pointer-events: none;
    transition: all .2s ease;
}
.textarea{
    min-height: 130px;
    width: 100%;
    padding: 9px 0 ;
    outline: 0 ;
    resize: vertical;
    border: 0 ;
    color: #fff;
    font-size: 15px;
    font-family: inherit;
    border-bottom: 1px solid #fff;
    background-color: transparent;
}
.textarea:focus + .label{
    transform: translateY(-10px);
    font-size: 12px;
}
.textarea:not(:placeholder-shown) + .label{
    transform: translateY(-10px);
    font-size: 12px;
}